replicaCount: 1

image:
  repository: rzayevnm/IDP
  tag: 1.0.0
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: regcred

service:
  type: NodePort
  port: 8080
  nodePort: 30020

ingress:
  enabled: false

resources:
  requests:
    memory: "256Mi"
    cpu: "250m"
  limits:
    memory: "512Mi"
    cpu: "500m"

env:
  - name: SPRING_PROFILES_ACTIVE
    value: prod

config:
  applicationYaml: |
    spring:
      application:
        name: IDP
      profiles:
        active: prod
