replicaCount: 2

image:
  repository: rzayevnm/IDP
  tag: 1.0.0
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: regcred

service:
  type: NodePort
  port: 8080
  nodePort: 30021

ingress:
  enabled: false

resources:
  requests:
    memory: "512Mi"
    cpu: "500m"
  limits:
    memory: "1Gi"
    cpu: "1000m"

env:
  - name: SPRING_PROFILES_ACTIVE
    value: prod

serviceMonitor:
  enabled: true
  interval: 15s
  path: /actuator/prometheus
  port: http
  namespace: monitoring
  labels:
    release: kube-prometheus-stack
